redirects: on
source https://nuget.org/api/v2

nuget FSharp.Configuration
nuget FSharp.Core redirects:force
nuget Mono.Cecil
nuget FSharp.Collections.ParallelSeq
nuget Newtonsoft.Json
nuget nunit
nuget FsUnit